<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/style.css" rel="stylesheet" />
    <title>@ViewData["company"]</title>
</head>
<body>
    <h1>@ViewData["company"]</h1>
    <h2>Employees: @ViewData["employees"]</h2>
    <h2>TotalSalary: @ViewData["totalSalary"]</h2>
</body>
</html>