<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["company"]</title>
</head>
<body>
    <h2>Employees: @ViewData["employees"]</h2>
    <h2>Total Salary: @ViewData["totalSalary"]</h2>
</body>
</html>